<% if user_signed_in? %>
<div class="container">
  <div class="bg-light p-4 shadow-lg rounded">
    <h2 class="text-center mb-4">会員詳細</h2>
    <table class="table table-bordered">
      <thead class="table-light">
      </thead>
      <tbody>
        <tr>
          <td class="fw-bold">会員名</td>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <td class="fw-bold">自己紹介</td>
          <td>
            <div style="max-height: 100px; overflow-y: auto;">
              <%= user.introduction.presence || "まだ自己紹介がありません" %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">プロフィール画像</td>
          <td class="text-center">
            <% if user.profile_image.attached? %>
              <%= image_tag user.get_profile_image(125, 125), alt: "あなたのプロフィール画像", class: "img-thumbnail rounded-circle" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "150x150", alt: "デフォルト画像", class: "img-thumbnail rounded-circle" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between mt-4">
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary px-4" do %>
        <i class="fa-solid fa-user-gear"></i> プロフィール編集
      <% end %>
      <% if user_signed_in? && current_user == user && user.email != "test@example.com" %>
        <%= link_to "退会", user_path(user.id), class: "btn btn-outline-danger px-4", method: :delete, data: { confirm: "本当に退会しますか...？" } %>
      <% end %>
    </div>
  </div>
</div>
<% end %>