<% if user.present? %>
  <h2>会員詳細</h2>
  <table class="table">
    <thead class="table-left">
      <tr>
        <th scope="col">会員名</th>
        <th scope="col">自己紹介</th>
        <th scope="col">プロフィール画像</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.introduction.presence || "自己紹介がありません" %></td>
        <td>
          <% if user.profile_image.attached? %>
            <%= image_tag user.get_profile_image(100, 100), alt: "プロフィール画像", class: "img-thumbnail" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100", alt: "デフォルト画像", class: "img-thumbnail" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="row">
    <div class="col-12 col-md-6">
      <%= link_to edit_user_path(user), class: "btn btn-block btn-outline-secondary" do %>
        <i class="fa-solid fa-user-gear"></i> プロフィール編集
      <% end %>
    </div>
    <% if user_signed_in? && current_user == user && user.email != "test@example.com" %>
      <div class="col-12 col-md-6 mt-3 mt-md-0">
        <%= link_to "退会", user_path(user.id), class: "btn btn-block btn-outline-danger", method: :delete, data: { confirm: "本当に退会しますか？" } %>
      </div>
    <% end %>
  </div>
<% else %>
  <h2>ゲストユーザー</h2>
  <p>会員登録すると、プロフィールや投稿機能をご利用いただけます！</p>
  <%= link_to "会員登録はこちら", new_user_registration_path, class: "btn btn-primary" %>
<% end %>
