<% if admin_signed_in? %>
  <!-- 管理者用ヘッダーです -->
  <li class="nav-item">
    <%= link_to admin_users_path, class: "nav-link text-light" do %>
      <i class="fa-solid fa-user-cog"></i> 管理者ダッシュボード
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
      <i class="fa-solid fa-right-from-bracket"></i> 管理者ログアウト
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to post_ranking_path, class: 'nav-link text-light' do %>
      <i class="fa-solid fa-ranking-star"></i> 投稿ランキング
    <% end %>
  </li>
<% elsif user_signed_in? %>
  <!-- 一般ユーザー用ヘッダーです -->
  <li class="nav-item">
    <%= link_to root_path, class: "nav-link text-light" do %>
      <i class="fa-solid fa-house"></i> トップ
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to posts_path, class: "nav-link text-light" do %>
      <i class="fa-solid fa-book-open"></i> レビューを見る
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to new_post_path, class: "nav-link text-light" do %>
      <i class="fa-solid fa-pen"></i> 新規投稿
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to post_ranking_path, class: 'nav-link text-light' do %>
      <i class="fa-solid fa-ranking-star"></i> 投稿ランキング
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
      <i class="fa-solid fa-right-from-bracket"></i> ログアウト
    <% end %>
  </li>
<% else %>
  <!-- ゲスト用ヘッダーです -->
  <li class="nav-item">
    <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
      <i class="fa-solid fa-user-plus"></i> 会員登録
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to posts_path, class: "nav-link text-light" do %>
      <i class="fa-solid fa-book-open"></i> レビューを見る
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to post_ranking_path, class: 'nav-link text-light' do %>
      <i class="fa-solid fa-ranking-star"></i> 投稿ランキング
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to new_user_session_path, class: "nav-link text-light" do %>
      <i class="fa-solid fa-right-to-bracket"></i> ログイン
    <% end %>
  </li>
<% end %>
