<nav class="navbar navbar-expand-sm" style="background-color: #343a40;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
    <ul class="navbar-nav">
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to admin_users_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-user-cog"></i> 会員一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_posts_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-book-open"></i> 全てのレビュー
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to post_ranking_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-ranking-star"></i> レビューランキング
          <% end %>
        </li>
        <li class="nav-item">
          <%= button_to destroy_admin_session_path, method: :delete, class: "btn btn-link text-decoration-none" do %>
            <i class="fa-solid fa-right-from-bracket"></i> ログアウト
          <% end %>
        </li>
      <% elsif user_signed_in? %>
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-house"></i> トップ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to posts_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-book-open"></i> レビューを見る
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_post_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-pen"></i> 新規投稿
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to post_ranking_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-ranking-star"></i> レビューランキング
          <% end %>
        </li>
        <li class="nav-item">
          <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-link text-decoration-none" do %>
            <i class="fa-solid fa-right-from-bracket"></i> ログアウト
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-user-plus"></i> 会員登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to posts_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-book-open"></i> レビューを見る
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to post_ranking_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-ranking-star"></i> レビューランキング
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-right-to-bracket"></i> ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
