<div class="container my-4">
  <div class="row">
    <div class="col-md-3">
      <div class="bg-light p-3 shadow-sm rounded">
        <%= render "users/userinfo", user: @user %>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="mb-4">
        <%= render 'shared/search' %>
      </div>

      <h2 class="mb-4">全ての承認されたレビュー</h2>
      <table class="table table-hover table-bordered shadow-sm">
        <thead class="table-light">
          <tr>
            <th scope="col">投稿日</th>
            <th scope="col">投稿者</th>
            <th scope="col">タイトル</th>
            <th scope="col">内容</th>
            <th scope="col">評価</th>
            <th scope="col">いいね数</th>
            <th scope="col">推しカテゴリ</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= l post.created_at, format: :short %></td>
              <td>
                <%= link_to post.user.name, user_path(post.user_id), class: "text-decoration-none" %>
              </td>
              <td>
                <%= link_to post.title, post_path(post.id), class: "text-decoration-none fw-bold" %>
              </td>
              <td><%= truncate(post.body, length: 50, separator: ' ') %></td>
              <td>
                <div
                  id="star_<%= post.id %>"
                  class="star-rating-display"
                  data-score="<%= post.rating %>"
                  data-star-on="<%= asset_path('star-on.png') %>"
                  data-star-off="<%= asset_path('star-off.png') %>"
                  data-star-half="<%= asset_path('star-half.png') %>"
                ></div>
              </td>
              <td><%= post.likes_count %></td>
              <td><%= post.category_list.join(', ') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
</div>
