<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4 display-6">新規レビュー投稿</h1>
      
      <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <h4 class="alert-heading">投稿に失敗しました…。<br><p>以下のエラーを確認してください。</h4>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p class="text-center text-muted mb-4">投稿者: <%= current_user.name %></p>

      <%= form_with model: @post, local: true do |f| %>
      
        <div class="form-group mb-4">
          <label class="form-label fw-bold fs-5">タイトル</label>
          <%= f.text_field :title, class: "form-control", placeholder: "1.4東京ドーム チャンピオン vs 挑戦者 タイトルマッチ" %>
        </div>

        <div class="form-group mb-4">
          <label class="form-label fw-bold fs-5">内容</label>
          <%= f.text_area :body, class: "form-control", rows: 6, placeholder: "圧巻の攻防！チャンピオンと挑戦者が全力を尽くしてぶつかり合う、最高の試合でした。序盤から中盤まで互いに相手の攻撃を読み合い、まさに緊迫感の連続！技術と戦略が光る場面が多く、プロレスファンとしての興奮が止まりませんでした。
特にクライマックスでの攻防は圧倒的！挑戦者が何度も大技を狙うものの、チャンピオンが絶妙なタイミングで防御を固めて見せたシーンには痺れました。そして最終局面、勝敗が決まる瞬間まで手に汗握る展開で、まさに観客全員が引き込まれていたと思います。
選手たちの心意気と、限界を超えたパフォーマンスに感動しました。この試合は長く語り継がれるべき名勝負だと思います！" %>
        </div>

        <div class="form-group mb-4">
          <label class="form-label fw-bold fs-5">タグ</label>
          <%= f.text_field :category, class: "form-control", placeholder: "例：プロレス、映像作品(映画・アニメ）、舞台(演劇、ミュージカル、お笑い)" %>
        </div>

        <div class="text-center">
          <%= f.submit '投稿', class: "btn btn-primary btn-lg mt-4 px-5 shadow-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
