<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4 display-6">新規レビュー投稿</h1>
      
      <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <h4 class="alert-heading">投稿に失敗しました…。<br><p>以下のエラーを確認してください。</h4>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p class="text-center text-muted mb-4">投稿者: <%= current_user.name %></p>
      <%= form_with model: @post, local: true do |f| %>
      
        <div class="form-group mb-4">
          <label class="form-label fw-bold fs-5">タイトル</label>
          <%= f.text_field :title, class: "form-control", placeholder: "1.4東京ドーム チャンピオン vs 挑戦者 タイトルマッチ" %>
        </div>

        <div class="form-group mb-4">
          <label class="form-label fw-bold fs-5">内容</label>
          <%= f.text_area :body, class: "form-control", rows: 6, placeholder: "圧巻の攻防！チャンピオンと挑戦者が全力を尽くしてぶつかり合う、最高の試合でした。" %>
        </div>

        <div class="form-group mb-4">
          <label class="form-label fw-bold fs-5">カテゴリ（[,]区切りで入力できます）</label>
          <%= f.text_field :category_list, class: "form-control", placeholder: "例: 映画, アクション" %>
        </div>

        <div class="form-group mb-4">
          <label class="form-label fw-bold fs-5">評価 <p>☆☆★（是非観てほしい！）</p><p>☆★★（超オススメ！観て！）</p><p>★★★（観ないと人生損します）</p> </label>
          <div id="star-rating"></div>
          <%= f.hidden_field :rating, id: "post_rating" %>
        </div>
        
        <div class="text-center">
          <%= f.submit '投稿', class: "btn btn-primary btn-lg mt-4 px-5 shadow-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
