<div class="container">
  <div class="row">
    
  <div class="col-md-3">
    <%= render "users/userinfo", user: @user %>
  </div>

  <div class="col-md-8 offset-md-1">
    <h2>レビュー</h2>
    <table class="table table-hover table-invers">
      <thead>
        <tr>
          <td><%= link_to @post.title, post_path(@post.id)  %></td>
          <td><%= @post.body %></td>
          <% if current_user && @post.user_id == current_user.id %>
            <td>
              <%= link_to user_path(@post.user_id) do %>
                <%= @post.user.name %>
              <% end %>
            </td>
            <td><%= link_to "Edit", edit_post_path(@post.id), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", post_path(@post.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>


